<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.appdistribution.impl">

  <application>
    <activity
        android:name=".FeedbackActivity"
        android:exported="false" />
    <activity
        android:name=".InstallActivity"
        android:exported="true"
        android:launchMode="singleTask" />
    <!--
 The launch mode for Install Activity is singleTask to ensure that after the unknown sources UI
        or the installation flow is complete, the Install Activity does not get recreated which causes loss of state
         See here for more info - https://developer.android.com/guide/components/activities/tasks-and-back-stack#ManifestForTasks
        -->
    <activity
        android:name=".SignInResultActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="appdistribution"
            android:path="/${applicationId}"
            android:scheme="intent" />
      </intent-filter>
    </activity>

    <provider
        android:name=".FirebaseAppDistributionFileProvider"
        android:authorities="${applicationId}.FirebaseAppDistributionFileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/firebase_app_distribution_provider_paths" />
    </provider>

    <service
        android:name="com.google.firebase.components.ComponentDiscoveryService"
        android:exported="false">
      <meta-data
          android:name="com.google.firebase.components:com.google.firebase.appdistribution.impl.FirebaseAppDistributionRegistrar"
          android:value="com.google.firebase.components.ComponentRegistrar" />
    </service>
  </application>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>